md-progress-circular.md-THEME_NAME-theme, .md-progress-circular.md-THEME_NAME-theme {

  path, .path {
    stroke: '{{primary-color}}';
  }

  &.md-warn {
    path, .path {
      stroke: '{{warn-color}}';
    }
  }

  &.md-accent {
    path, .path {
      stroke: '{{accent-color}}';
    }
  }

}
